/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.focusable.skip:active, .focusable.skip:focus {
    position: fixed !important;
    left: 2em;
    z-index: 999;
    padding: 0.2em 0.5em;
    background: yellow;
    border: 2px solid blue;
    top: 0.2em;
    outline: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4em;
    box-shadow: 0px 3px 12px #999;

    background: #16405b;
    color: #fff;

    text-align: center;
}
    #current-slide-counter {
        font-size: 1.4em;
        cursor: pointer;
    }

    nav button {
        position: relative;
        height: 3em;
        padding: 0 3em;
        border: 0;
        border-radius: 4px;
        margin: 0.5em 3em;

        background-color: #2876A7;
        color: #fff;
    }

    nav button[disabled] {
        opacity: .4;
    }

    nav button:hover, nav button:focus {
        background-color: #2B7FB4;
    }

    nav button:focus {
        text-decoration: underline;
        outline: 0;
        box-shadow: 0 0 6px #c1e7ff;
    }

    #previous-slide::before {
        content: "⬅ ";
    }

    #next-slide::after {
        content: " ➡";
    }




main {
    margin-top: 6em;
    font-size: 1.4em;
}

article {
    margin: 0 4.4% 2em;
}


    p, li, h2, h3, h4, h5, h6 {
        max-width: 65ch;
    }

    ul li {
        margin-bottom: .3em;
    }

    strong[title] {
        cursor: help;
        border-bottom: 1px dotted #888;
    }

[tabindex="-1"] { outline: none }

/* ==========================================================================
   Example specific classes
   ========================================================================== */
.toggled-box {
    display: inline-block;
    padding: .3em .6em;
}

    .red {
        background: rgb(250, 185, 185);
    }

    .blue {
        background: lightblue;
    }

#example-controlflow input[name="value"] {
    width: 3em;
    font-family: monospace;
}

#message-result { font-weight: bold; }


#disable_code_mirror_label {
    display: block;
    font-size: .7em;
    margin-top: 1em;
}
/* ==========================================================================
   General code classes
   ========================================================================== */

code, .jotted .jotted-console-container {
  font-family: "Source Code Pro", Consolas, Meslo, monospace;
  font-size: .9em;
  font-weight: 500;
}

pre {
   font-size: 1em;
   background: #f3f3f3;
   padding: .4em .6em;
   margin-left: -0.6em;
   border-radius: 7px;
}

/* Override HLJS */
code.hljs {
   display: initial;
   overflow-x: auto;
   padding: 0;
   color: #383a42;
   background: transparent;
}

/* inline code which is not inside a <pre> */
:not(pre) > code.hljs {
   background: #f3f3f3;
   border-radius: 3px;
   padding: .1em .2em;
}


code mark {
    background: rgb(255, 244, 164);
}
    mark.no-flow {
        background: transparent;
    }


.bin.jotted {
    height: 20em;
}

/** Remove the tabs when we only have a console */
.console.jotted .jotted-nav {
    display: none;
}

    .console.jotted .jotted-pane {
        padding-top: 0;
    }


.console.jotted li {
    max-width: initial;
}

.jotted-console-input input:focus {
    background-color: rgb(255, 244, 164) !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.float-right {
    max-width: 300px;
}

@media only screen and (min-width: 992px) {
    .float-right {
        float: right;
        max-width: 420px;
        margin-left: 0.6em;
    }
}

.float-left {
    float: left;
}

/*
 * Hide visually and from screen readers
 */

.hidden, [hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
